.card-wrapper {
    background-color: rgb(236, 173, 0);
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper.back {
    background-color: rgb(62, 216, 230);
}

.card-value {
    display: flex;
    justify-content: center;
    align-items: center;
}