.table.table-positions{
    margin-top: 125px;
}

.table__title--positions {
    margin-bottom: 40px;
    padding-top: 45px;
    height: 20px;
}

.row-positions {
    display: flex;
    justify-content: space-between;
}
