* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.memorygame-container {
    padding: 4px;
}

.memorygame-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
}

.game-title {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.game-try {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.try-value {
    margin-left: 10px;
}

.board-container {
    display: flex;
    padding-left: 10px;
}

.flipcard-board {
    display: flex;
    width: 700px;
    height: 600px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}


.btn-restart {
    height: 22px;
    text-align: center;
    padding: 2px;
    width: 72px;
}